body{
background:url(img/bc.jfif);
	background-size:cover;
	background-attachment:fixed;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  animation:ease-in-out 1s;
}

li a:hover {
	  animation:ease-in-out 1s;

  background-color: #3F3;
  color:#963;
}



#header{
max-width:1000px;
height:120px;
background:url(img/DSG.PNG);
}
#menu{
width:1210px;
height:40px;
background:rgb(251, 140, 1);
}
#main{
width:1199px;
min-height:500px;
background:url(img/trs.png);
padding:5px;
}
#footer{
width:1000px;
height:80px;
background:url(img/al.png);
}
#conta{
width:1000px;
margin:0 auto;
}

input[type=text],[type=date],[type=time], select {
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #00008B;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8B0000;
}
